@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
#about .about-info .about-brand {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
@media (min-width: 768px) {
  #about .about-info .about-brand {
    text-align: left;
    flex-direction: row;
  }
  #about .about-info .about-brand:nth-child(even) {
    flex-direction: row-reverse;
  }
}
#about .about-info .about-brand .card {
  display: grid;
  place-items: center;
  flex-basis: 50%;
  padding: 2rem 0;
}
#about .about-info .about-brand .card .card-details {
  padding: 1em 1.5rem;
}
@media (min-width: 1024px) {
  #about .about-info .about-brand .card .card-details {
    padding: 1.3em;
    padding: 5rem 7rem;
  }
}
#about .about-info .about-brand .card .card-details h2 {
  font-family: "Fraunces", serif;
  color: #23303e;
  font-size: 2em;
  font-size: clamp(1.8em, 4vw, 2em);
  font-weight: 900;
  margin: 0.5rem auto;
  max-width: 400px;
}
@media (min-width: 768px) {
  #about .about-info .about-brand .card .card-details h2 {
    margin: 0.5rem 0;
  }
}
#about .about-info .about-brand .card .card-details p {
  margin: 2em 0;
  color: #818498;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
}
#about .about-info .about-brand .card .card-details button {
  margin: 0 auto 2em;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: #23303e;
  position: relative;
}
@media (min-width: 576px) {
  #about .about-info .about-brand .card .card-details button {
    cursor: pointer;
  }
}
#about .about-info .about-brand .card .card-details button::after {
  content: "";
  position: absolute;
  bottom: -0.1em;
  left: -0.3em;
  width: 110%;
  height: 0.5em;
  opacity: 0.4;
  border-radius: 20px;
  z-index: -1;
  transition: 0.2s;
}
#about .about-info .about-brand .card .card-details button.transform-button::after {
  background-color: #fad400;
}
#about .about-info .about-brand .card .card-details button.card-button::after {
  background-color: #fe7867;
}
#about .about-info .about-brand .card .card-details button:hover::after {
  opacity: 1;
}
#about .about-info .about-brand .about-img {
  overflow: hidden;
  flex-basis: 50%;
}
#about .about-info .about-brand .about-img img {
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: cover;
}
@media (min-width: 768px) {
  #about .about-gallery {
    height: 60vh;
    display: flex;
  }
}
#about .about-gallery .work {
  flex-basis: 50%;
  height: 80vh;
  position: relative;
}
@media (min-width: 768px) {
  #about .about-gallery .work {
    position: relative;
    height: auto;
  }
}
#about .about-gallery .work.work1 {
  color: #25564b;
}
#about .about-gallery .work.work2 {
  color: #19536b;
}
#about .about-gallery .work .work-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
#about .about-gallery .work .work-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  max-height: 600px;
}
#about .about-gallery .work .work-info {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  width: 50%;
  width: 100%;
  padding: 1em 1.25em;
}
@media (min-width: 768px) {
  #about .about-gallery .work .work-info {
    padding: 1em 1.5em;
  }
}
#about .about-gallery .work .work-info h2 {
  text-transform: capitalize;
  font-family: "Fraunces", serif;
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: 900;
}
#about .about-gallery .work .work-info p {
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-size: clamp(.85rem, 1vw, 1em);
  font-weight: 900;
}
@media (min-width: 768px) {
  #about .about-gallery .work .work-info {
    width: 55%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  #about .about-gallery .work .work-info h2 {
    font-size: 2em;
    margin: 1em auto;
  }
  #about .about-gallery .work .work-info p {
    font-family: "Barlow", sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  scroll-padding-top: 5vh;
}

body {
  max-width: 100%;
}
body .attribution {
  text-align: center;
  padding: 1em 0;
}
body .attribution a {
  color: #3e52a3;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  position: relative;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100%;
  height: 100%;
  background: rgba(27, 99, 134, 0.2);
  transition: 0s;
}
.container.overlay::after {
  left: 0;
}
.container #projects {
  background-color: #f4f4f4;
  padding: 2em 1em;
}
@media (min-width: 768px) {
  .container #projects {
    padding: 10vh 0;
  }
}
.container #projects header h1 {
  text-align: center;
  color: #818498;
  letter-spacing: 0.25em;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 2em;
  margin: 1em auto 0.5em;
  font-size: 1rem;
}
.container #projects .client-grid {
  display: grid;
  margin: 1em auto;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  .container #projects .client-grid {
    grid-template-columns: 1fr;
  }
}
.container #projects .client-grid .client {
  text-align: center;
  font-family: "Barlow", sans-serif;
}
.container #projects .client-grid .client figure {
  height: 7em;
  width: 7em;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  margin: 2em auto;
}
.container #projects .client-grid .client figure img {
  width: 100%;
}
.container #projects .client-grid .client .review {
  width: 90%;
  font-size: 1em;
  padding: 2em;
  color: #5a636c;
  font-weight: 599;
}
@media (max-width: 768px) {
  .container #projects .client-grid .client .review {
    padding: 0.3em;
    width: 100%;
  }
}
.container #projects .client-grid .client .name {
  font-family: "Fraunces", serif;
  padding: 1em;
  margin: 1em auto;
}
.container #projects .client-grid .client .name h2 {
  margin: 0.5em auto;
  font-weight: 900;
}
.container #projects .client-grid .client .name p {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
  font-weight: 900;
}
.container #contact {
  width: 100%;
  padding-bottom: 0.5em;
  text-align: center;
  background-color: rgba(69, 140, 126, 0.575);
  color: #25564b;
}
@media (min-width: 768px) {
  .container #contact .mobile-gallery {
    display: none;
  }
  .container #contact .desktop-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .container #contact .desktop-gallery figure img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container #contact .desktop-gallery {
    display: none;
  }
  .container #contact .mobile-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container #contact .mobile-gallery figure img {
    width: 100%;
    height: 100%;
  }
}
.container #contact .footer-logo {
  margin: 3em auto 2em;
}
.container #contact .footer-logo a {
  display: inline-block;
}
.container #contact .footer-logo a svg {
  fill: #25564b;
}
.container #contact ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em auto;
}
@media (min-width: 1000px) {
  .container #contact ul {
    width: 25%;
    justify-content: space-between;
  }
}
.container #contact ul li {
  padding: 0.3em 1em;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}
.container #contact ul li a {
  text-transform: capitalize;
  color: #25564b;
  text-decoration: none;
}
.container #contact ul li:hover {
  transform: scale(1.1);
}
.container #contact ul li:hover a {
  color: white;
}
.container #contact .links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  padding: 1em;
  cursor: pointer;
  width: 70%;
}
@media (min-width: 768px) {
  .container #contact .links {
    width: 20%;
  }
}
.container #contact .links i {
  padding: 0.5em;
  transition: 0.3s;
  margin: 0 auto;
  border: none;
  outline: none;
  color: #25564b;
  position: relative;
}
.container #contact .links i:hover {
  color: white;
  transform: scale(1.2);
}
.container #contact .links i:hover::after {
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: #3ebfff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5vw 0.5rem;
  z-index: 5;
}
.header .logo a {
  width: 100%;
  height: 100%;
}
.header .navigation .hamburger {
  cursor: pointer;
}
.header .navigation .hamburger:active img {
  transition: 0.25s;
  transform: scale(0.8);
}
@media (min-width: 768px) {
  .header .navigation .hamburger {
    display: none;
  }
}
.header .navigation aside {
  overflow: hidden;
  position: absolute;
  top: 10vh;
  right: 5vw;
  right: -100vw;
  height: 55vh;
  width: 90%;
  background-color: #fff;
  border-bottom-left-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
  transition: 0.5s;
}
.header .navigation aside::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background-color: #3ebfff;
}
.header .navigation aside::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3.5rem;
  background-color: #fff;
  transform: rotate(40deg) translateX(1.5rem) translateY(-0.5rem);
  z-index: 2;
}
.header .navigation aside ul {
  height: 100%;
  padding: 5vh 5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header .navigation aside ul li {
  list-style: none;
  padding: 1rem;
}
.header .navigation aside ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: #5a636c;
  font-weight: 700;
  font-family: "Barlow", sans-serif;
}
.header .navigation aside ul li:last-child a {
  background-color: #fad400;
  text-transform: uppercase;
  color: #000;
  font-family: "Fraunces", serif;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
.header .navigation aside.active {
  right: 5vw;
}
.header .navigation .desktop-links {
  display: none;
}
@media (min-width: 768px) {
  .header .navigation .desktop-links {
    display: block;
  }
}
.header .navigation .desktop-links ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.header .navigation .desktop-links ul li {
  list-style: none;
}
.header .navigation .desktop-links ul li a {
  color: #fff;
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}
.header .navigation .desktop-links ul li:last-of-type a {
  background: #fff;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  color: #000;
  font-family: "Fraunces", serif;
}
.header .navigation .desktop-links ul li:last-of-type a:hover {
  background: #fffa;
  color: #fff;
}

#hero {
  height: 75vh;
  margin-top: 9vh;
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  #hero {
    height: 80vh;
  }
}
#hero .hero-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
#hero h1 {
  padding: 10vh 0 15vh;
  color: white;
  font-size: 2em;
  font-size: clamp(2em, 4vw, 3em);
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  letter-spacing: 0.2em;
}
#hero .arrow {
  width: 2rem;
  margin: 1rem auto 0;
  transition: 0.25s;
}
#hero .arrow a {
  width: 100%;
  height: 100%;
}
#hero .arrow:hover {
  transform: translateY(1rem);
}

/*# sourceMappingURL=style.css.map */
