@use './abstracts';

// ABOUT SECTION
#about {
    .about-info {
        // egg and cup
        .about-brand {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            // DESKTOP STYLE
            @include abstracts.md {
                text-align: left;
                flex-direction: row;

                &:nth-child(even){
                    flex-direction: row-reverse;
                }

            }

            .card {
                display: grid;
                place-items: center;
                flex-basis: 50%;
                padding: 2rem .0;

                .card-details {
                    padding: 1em 1.5rem;
                    @include abstracts.xlg {
                            padding: 1.3em;
                            padding: 5rem 7rem;
                    }

                    h2 {
                        font-family: abstracts.$font-fraunces;
                        color: abstracts.$very-dark-desaturated-blue;
                        font-size: 2em;
                        font-size: clamp(1.8em, 4vw, 2em);
                        font-weight: 900;
                        margin: .5rem auto;
                        max-width: 400px;
                        @include abstracts.md {
                            margin: .5rem 0;
                    }
                    }

                    p {
                        margin: 2em 0;
                        color: abstracts.$dark-grayish-blue;
                        font-weight: 600;
                        font-family: abstracts.$font-barlow;
                    }

                    button {
                        font-size: 1rem;
                        border: none;
                        background-color: transparent;
                        text-transform: uppercase;
                        font-family: abstracts.$font-fraunces;
                        color: abstracts.$very-dark-desaturated-blue;
                        position: relative;
                        // DESKTOP BUTTON
                        @include abstracts.sm {
                            cursor: pointer;
                        }
                        // COLORED UNDERLINE
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -.1em;
                            left: -.3em;
                            width: 110%;
                            height: .5em;
                            opacity: .4;
                            border-radius: 20px;
                            z-index: -1;
                            transition: .2s;
                        }
                        &.transform-button {
                            &::after {background-color: abstracts.$yellow;}
                        }
                        &.card-button {
                            &::after {background-color: abstracts.$soft-red}
                        }

                        // HOVER CLASS - OPACITY = 1
                        &:hover {
                            &::after {opacity: 1;}
                        }

                        // ACTIVE CLASS = ::AFTER SCALE-X ON CLICK
                        &:active {
                            &::after {
                                transform: scaleX(.4);
                            }
                        }
                        // BUTTON ANIMATION
                        @keyframes button-line {
                            50% {
                                transform: scaleX(.4);
                            }
                        }
                    }
                }
            }
            
            .about-img {
                overflow: hidden;
                flex-basis: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
            }
        }
    }
    
    // graphic design and photography section
    .about-gallery {
        @include abstracts.md {
            height: 80vh;
            display: flex;
        }

        .work {
            flex-basis: 50%;
            height: 90vh;
            position: relative;
            @include abstracts.md {
                height: 100%;
            }
            &.work1 {
                color: abstracts.$dark-desaturated-cyan-graphic-design-text;
            }
            &.work2 {
                color: abstracts.$dark-blue-photography-text;
            }


            .work-image {
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }

            .work-info {
                position: absolute;
                bottom: 2rem;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                width: 100%;
                padding: 0 5vw;
                // padding: 0 0;
                // DESKTOP WORK-INFO
                @include abstracts.md {
                    bottom: 2em;
                    // height: 20vh;
                    // border: 2px solid red;
                }
            
            h2 {
                text-transform: capitalize;
                font-family: abstracts.$font-fraunces;
                font-size: 1.5em;
                font-size: clamp(1.5em, 1.5vw, 2em);
                margin-bottom: 1em;
                font-weight: 900;
                @include abstracts.md {
                    margin: 0 auto 1em;
                    
                }
            }
            p {
                font-family: abstracts.$font-barlow;
                font-size: 1em;
                font-size: clamp(.9em, 1vw, 1em);
                font-weight: 600;
                max-width: 400px;
                margin-inline: auto;
            }
        }
        }

        
    }
    // end of graphic design and photography section
}