@use './abstracts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
    font-family: abstracts.$font-content;
}

body {
    max-width: 100%;

    .attribution {
        text-align: center;
        padding: 5vh 5vw;

        a {
            color: hsl(228, 45%, 44%);
            line-height: 1.6;
            text-decoration: none;
        }
    }
}

img {
    display: block;
    max-width: 100%;
}

p {
    line-height: 1.6;
}

.container {
    width: 100%;
    position: relative;
    // OVERLAY
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100vw;
        width: 100%;
        height: 100%;
        background: rgba(27, 99, 134, 0.2);
        transition: 0s;
    }

    &.overlay {
        &::after {
            left: 0;
        }
    }
// end of header

// end of about section

// end of testimonials
// contact / footer
    #footer {
        width: 100%;
        padding: 10vh 5vw;
        text-align: center;
        background-color: abstracts.$dark-moderate-cyan-footer;
        color: abstracts.$dark-desaturated-cyan-graphic-design-text;
        
        // FOOTER LOGO
        .footer-logo {
            a {
                svg {
                    fill: abstracts.$dark-desaturated-cyan-graphic-design-text;
                }
            }
        }

        // FOOTER PAGE LINKS
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            margin: 2rem 0;
            @include abstracts.md {
                gap: 4rem;
            }

            li {
                list-style: none;
                font-weight: 500;

                a {
                    text-transform: capitalize;
                    color: abstracts.$dark-desaturated-cyan-graphic-design-text;
                    text-decoration: none;
                    cursor: default;
                    transition: .25s;

                    // DESKTOP LINK CURSOR
                    @media (min-width: 820px) {
                        cursor: pointer;
                    }

                    &:hover {
                        color: abstracts.$white;
                    }

                }
                // link color on hover
                // end of link color on hover

            }
        }

        // SOCIAL MEDIA ICONS
        .links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin: 2em auto;

            // DESKTOP STYLE
            @media (min-width: 768px) {
                cursor: pointer;
                gap: 2rem;
            }

            i {
                transition: .25s;
                color: abstracts.$dark-desaturated-cyan-graphic-design-text;
                position: relative;

                &:hover {
                    color: abstracts.$white;
                    transform: scale(1.2);

                    &::after {
                        opacity: 1;
                    }
                }
            }

        }

    }
}


