@use './abstracts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
    scroll-padding-top: 5vh;
}

body {
    max-width: 100%;

    .attribution {
        text-align: center;
        padding: 1em 0;

        a {
            color: hsl(228, 45%, 44%);
            line-height: 1.6;
        }
    }
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    position: relative;
    // OVERLAY
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100vw;
        width: 100%;
        height: 100%;
        background: rgba(27, 99, 134, 0.2);
        transition: 0s;
    }

    &.overlay {
        &::after {
            left: 0;
        }
    }
// end of header

// end of about section
// testimonials section
    #projects {
        background-color: #f4f4f4;
        padding: 2em 1em;
        @include abstracts.md  {
            padding: 10vh 0;
        }
        header {
            h1 {
                text-align: center;
                color: abstracts.$dark-grayish-blue;
                letter-spacing: .25em;
                font-weight: 900;
                text-transform: uppercase;
                padding-top: 2em;
                margin: 1em auto .5em;
                font-size: 1rem;
            }
        }
        .client-grid {
            display: grid;
            margin: 1em auto;
            grid-template-columns: 1fr 1fr 1fr;
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            .client {
                text-align: center;
                font-family: abstracts.$font-barlow;

                figure {
                    height: 7em;
                    width: 7em;
                    border-radius: 50%;
                    border: none;
                    overflow: hidden;
                    margin: 2em auto;

                    img {
                        width: 100%;
                    }
                }
                .review {
                    width: 90%;
                    font-size: 1em;
                    padding: 2em;
                    color: abstracts.$very-dark-grayish-blue;
                    font-weight: 599;
                    @media(max-width: 768px){
                        padding: .3em;
                        width: 100%;
                    }
                }
                .name {
                    font-family: abstracts.$font-fraunces;
                    padding: 1em;
                    margin: 1em auto;
                    h2 {
                        margin: .5em auto;
                        font-weight: 900;
                    }
                    p {
                        font-family: abstracts.$font-barlow;
                        color: abstracts.$grayish-blue;
                        font-weight: 900;
                    }
                }

            }
        }
    }
// end of testimonials
// contact / footer
    #contact {
        width: 100%;
        padding-bottom: .5em;
        text-align: center;
        background-color: abstracts.$dark-moderate-cyan-footer;
        color: abstracts.$dark-desaturated-cyan-graphic-design-text;
        // desktop gallery
        @media (min-width: 768px) {
            .mobile-gallery { display: none}
            .desktop-gallery {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                figure {
                    img {
                        width: 100%;
                    }
                }
            }
        }
        // end of desktop gallery
        // mobile gallery 
        @media (max-width: 768px) {
            .desktop-gallery {display: none}
            .mobile-gallery { 
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                figure {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        // end of mobile gallery 
        // social links
        .footer-logo {
            margin: 3em auto 2em;
            // logo box shadow
            a {
                display: inline-block;
                // border: 1px solid red;

                svg {
                    fill: abstracts.$dark-desaturated-cyan-graphic-design-text;
                }
            }
            // end of logo box shadow
        }
        // footer navigation links
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: .5em auto;
            @media (min-width: 1000px){
                width: 25%;
                justify-content: space-between;

            }

            li {
                padding: .3em 1em ;
                list-style: none;
                font-weight: 600;
                cursor: pointer;
                transition: .3s;
                border-radius: 3px;
                a {
                    text-transform: capitalize;
                    color: abstracts.$dark-desaturated-cyan-graphic-design-text;
                    text-decoration: none;
                    
                }
                // link color on hover
                &:hover {
                    transform: scale(1.1);
                    a {
                        color: abstracts.$white;
                    } 
                }
                // end of link color on hover

            }
        }
        // end of footer navigation links

        // social media links
        .links {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2em auto;
            padding: 1em;
            cursor: pointer;
            width: 70%;
            @media (min-width: 768px) {
                width: 20%;
            }
                i {
                    padding: .5em;
                    transition: .3s;
                    margin: 0 auto;
                    border: none;
                    outline: none;
                    color: abstracts.$dark-desaturated-cyan-graphic-design-text;
                    position: relative;
                    // social media cons box shadow

                    &:hover {
                            color: abstracts.$white;
                            transform: scale(1.2);
                            &::after { opacity: 1;}
                    }
                }
            }
        
        // end of social media links

    }
// end of contact / footer
}


