@use './abstracts';

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include abstracts.sm {
        grid-template-columns: repeat(4, 1fr);
        
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

}