@use './abstracts';

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include abstracts.sm {
        grid-template-columns: repeat(4, 1fr);
        
    }

    figure {
        overflow: hidden;
        
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            transition: .25s ease-in;
        }

        &:hover {   
            img {
                transform: scale(1.1);
                transition: .25s ease-out;
            }
        }
        
    }

}