@use './abstracts';

.header {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: abstracts.$sunny-blue;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5vw .5rem;
    z-index: 5;

    .logo {
        a {
            width: 100%;
            height: 100%;
        }
    }

    .navigation {
        
        // TOGGLE ICON
        .hamburger {
            cursor: pointer;
            &:active {
                img {
                transition: .25s;
                transform: scale(.8);
                }
            }
            // DISPLAY NONE AT MD WIDTH
            @include abstracts.md {display: none;}
        }
        // ASIDE NAV LIST
        aside {
            overflow: hidden;
            position: absolute;
            top: 10vh;
            right: 5vw;
            right: -100vw;
            height: 55vh;
            width: 90%;
            background-color: #fff;
            border-bottom-left-radius: .15rem;
            border-bottom-right-radius: .15rem;
            transition: .5s;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 5vh;
                background-color: abstracts.$sunny-blue;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 3rem;
                height: 3.5rem;
                background-color: #fff;
                transform: rotate(40deg) translateX(1.5rem) translateY(-.5rem);
                z-index: 2;
            }

            ul {
                height: 100%;
                padding: 5vh 5vw;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                li {
                    list-style: none;
                    padding: 1rem;

                    a {
                        text-transform: capitalize;
                        text-decoration: none;
                        color: abstracts.$very-dark-grayish-blue;
                        font-weight: 700;
                        font-family: abstracts.$font-content;
                    }
                    &:last-child{
                        a {
                        background-color: abstracts.$yellow;
                        text-transform: uppercase;
                        color: #000;
                        font-family: abstracts.$font-title;
                        padding: 1rem 2rem;
                        border-radius: 2rem;
                        }
                    }
                }
            }
            // ACTIVE ASIDE CLASS
            &.active {
                right: 5vw;
            }
        }
        // DESKTOP NAV LIST
        // DISPLAY NONE UNTIL MD-SCREEN WIDTH
        .desktop-links {
            display: none;
            @include abstracts.md {
                display: block;
            }
            ul {
                display: flex;
                justify-content: space-around;
                gap: 2rem;

                li {
                    list-style: none;
                    a {
                        color: #fff;
                        text-transform: capitalize;
                        font-family: abstracts.$font-barlow;
                        text-decoration: none;
                    }
                    &:last-of-type {
                        a {
                            background: #fff;
                            border-radius: 1.5rem;
                            padding: .5rem 1rem;
                            color: #000;
                            font-family: abstracts.$font-title;

                            &:hover {
                                background: #fffa;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}