@use './abstracts';

// TESTIMONIALS
#projects {
    background-color: #fafafa;
    padding: 5vh 5vw;
    @include abstracts.md  {
        padding: 10vh 5vw;
    }

    .grid-title {
        text-align: center;
        color: abstracts.$dark-grayish-blue;
        letter-spacing: .25em;
        font-weight: 900;
        text-transform: uppercase;
        padding-top: 2em;
        margin: 1em auto .5em;
        font-size: 1rem;
    }

    .grid-container {
        display: grid;
        margin: 4em auto;
        gap: 4em;
        @include abstracts.md {
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
        }

        .grid-item {
            text-align: center;
            font-family: abstracts.$font-barlow;
            display: grid;
            place-items: center;
            gap: 2rem;
            @include abstracts.md {
                gap: 4rem;
            }

            figure {
                height: 5em;
                width: 5em;
                border-radius: 50%;
                border: none;
                overflow: hidden;

                img {
                    object-fit: cover;
                }
            }

            .review {
                font-size: 1em;
                color: abstracts.$very-dark-grayish-blue;
                font-weight: 600;
                
            }

            .name {
                font-family: abstracts.$font-fraunces;
                h3 {
                    font-weight: 900;
                    margin-bottom: .5em;
                }
                p {
                    font-family: abstracts.$font-barlow;
                    color: abstracts.$grayish-blue;
                    font-weight: 500;
                }
            }

        }
    }
}