@import 'variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    scroll-behavior: smooth;
    scroll-padding-top: 3em;
}
body {
    width: 100vw;
    overflow-x: hidden;

    .attribution {
        text-align: center;
        padding: .1em 0;

        a {
            color: hsl(228, 45%, 44%);
        }
    }
}
.container {
    width: 100%;
    overflow-x: hidden;
    position: relative;
// header
    #header {
        background-image: url(../images/desktop/image-header.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: 100%;
            // background-position-x: center;
            background-attachment: fixed;
        @media (max-width: 768px){
            background-image: url(../images/mobile/image-header.jpg);
            height: 60vh;
            background-attachment: unset;
            background-position: bottom;
        }
    // navbar
        #nav-bar {
            // hide mobile nav links on desktop
            // hide desktop nav links on mobile
            @media(min-width: 768px){
                .mobile-nav {
                    display: none;
                }
                height: 10vh;
            }
            @media(max-width: 768px){
                .desktop-nav {
                    display: none;
                }
            }
            // end of hide mobile nav links on desktop
            // end of hide desktop nav links on mobile
            position: fixed;
            display: flex;
            top: 0;
            width: 100%;
            height: 10vh;
            background-color: #3ebfff;
            z-index: 10;
            justify-content: space-between;
            align-items: center;
            padding: 0 1.5em;
            // mobile nav links- javascript display
            .mobile-nav {
                overflow: hidden;
                .toggle {
                    cursor: pointer;
                }
                // links hidden by default. Displayed on JS callback via .active class
                .mobile-links {
                    position: absolute;
                    top: 10vh;
                    width: 85vw;
                    height: 35vh;
                    padding: 1em;
                    background-color: $white;
                    text-align: center;
                    right: -100%;
                    transition: .5s;
                    &.active {
                        right: 50%;
                        transition: .5s;
                        transform: translateX(50%);
                    }

                    ul {
                        // border: 1px solid red;
                        font-family: $font-barlow;
                        padding: 2em 1em .5em;
                        @media (max-width: 360px){
                            justify-content: center;
                        }
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        display: relative;
                        // overflow: hidden;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 98%;
                            height: 1em;
                            background: #3ebfff;
                            border: 1px solid #3ebfff;
                            outline:1px solid #3ebfff;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: .5em;
                            transform: skewY(-40deg);
                            right: 0;
                            width: 1.5em;
                            height: 3em;
                            background-color: #fff;
                            z-index: 1;
                        }
                        li {
                            // border: 1px solid green;
                            list-style: none;
                            padding: .5em;
                            a {
                                color: $very-dark-grayish-blue;
                                text-decoration: none;
                            }
                            
                            .mobile-contact {
                                background-color: $yellow;
                                padding: 1em;
                                margin: 1em auto ;
                                border: none;
                                outline: none;
                                border-radius: 50px;
                                cursor: pointer;
                                font-weight: 900;
                                text-transform: uppercase;
                                font-family: $font-fraunces;
                                color: $very-dark-desaturated-blue;
                                box-shadow: inset 2px 2px 4px #fffa,
                                                inset -2px -2px 4px #000a;
                                
                                @media (max-width: 360px){
                                    padding: .5em 1em;
                                }
                            }
                        
                        }
                    }
                }
                // end of links hidden by default. Displayed on JS callback via .active class
            }
            // mobile nav links- javascript display

            // desktop navbar links
            .desktop-nav {
                width: auto;
                padding: 0 2em;
                .desktop-links {
                    display: flex;

                    li {
                        padding: 0 1em;
                        list-style: none;
                        font-family: $font-barlow;
                        // desktop contact link button
                        .desk-contact {
                            color: $very-dark-desaturated-blue;
                            text-transform: uppercase;
                            font-family: $font-fraunces;
                            padding: .5em 1em;
                            // contact icon box-shadow hover and active state
                            &::before {
                                position: absolute;
                                content: '';
                                background-color: $white;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: -1;
                                border-radius: 20px;
                                transition: .2s;
                                box-shadow: inset 3px 3px 4px #ddda,
                                            inset -3px -3px 4px rgba(0, 0, 0, 0.274);
                            }
                            &:hover {
                                &::before {
                                    opacity: 0;
                                }
                            }
                            // contact icon box-shadow hover and active state
                        }
                        // end of desktop contact link button
                        // desktop links
                        a {
                            color: $white;
                            text-decoration: none;
                            text-transform: capitalize;
                            padding: .5em .7em;
                            border-radius: 20px;
                            transition: .2s;
                            position: relative;
                            // desktop link box-shadows and hover state
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                transition: .2s;
                                opacity: 0;
                                border-radius: 20px;
                                box-shadow: inset 3px 3px 4px #ddda,
                                            inset -3px -3px 4px #000a;
                            }
                            &:hover {
                                background-color: transparent;
                                color: $white;
                                &::after{
                                    opacity: 1;
                                }
                            }
                            // end of desktop link box-shadows and hover state
                        }
                        // end of desktop links
                    }
                }
            }
            // desktop navbar links

        }
// end of navbar
    // hero
        #hero {
            
            height: 100vh;
            text-align: center;
            text-transform: uppercase;
            h1 {
                color: $white;
                font-size: 2em;
                padding-top: 10vh;
                font-family: $font-fraunces;
                letter-spacing: .2em;
                @media (max-width: 320px){
                    font-size: 1.5em;
                }
                @media (min-width: 768px) {
                    margin-top: 10vh;
                    font-size: 2.5em;
                    letter-spacing: .25em;
                }
            }
            .arrow {
                margin: .5em auto;
                padding-top: 1vh;
                transform: translateY(100%);
                @media (max-width: 768px){
                    padding-top: 5%;
                    transform: translateY(10%);
                }
                @media (max-width: 360px){
                    transform: scale(.6) translateY(-50%);
                }
            }
        }
    // end of hero
    }
// end of header
// about section
    #about {
        width: 100%;
        @media (max-width:768px){
            .about-info {
                .about-brand {
                    flex-direction: column-reverse;
                    text-align: center;
                    .card {
                        .card-details {
                            text-align: center;
                        }
                    }
                }
            }
        }
        .about-info {
            // egg and cup page
            
            .about-brand {
                display: flex;

                @media (min-width:768px){
                    &:nth-child(even){
                        flex-direction: row-reverse;
                    }
                }
                

                .card {
                    // border: 1px solid red;
                    padding: 6em;
                    flex-basis: 50%;
                    text-align: left;
                    @media (max-width: 768px){
                        padding: .5em;
                    }

                    .card-details {
                        // border: 1px solid green;
                        padding: 1em;
                        @media (min-width:768px){
                            padding: 1.3em;
                            &.card-details{
                                h2 {
                                    font-size: 2em;
                                    width: 90%;
                                }
                            }
                        }
                        h2 {
                            font-family: $font-fraunces;
                            color: $very-dark-desaturated-blue;
                            font-size: 2em;
                            font-weight: 900;
                            margin-bottom: .5em;
                        }
                        p {
                            margin: 2em auto;
                            color: $dark-grayish-blue;
                            font-weight: 600;
                            // width: 95%;
                            font-family: $font-barlow;
                        }
                        button {
                            margin: 0 auto 2em;
                            border: none;
                            outline: none;
                            background-color: transparent;
                            text-transform: uppercase;
                            font-family: $font-fraunces;
                            color: $very-dark-desaturated-blue;
                            position: relative;
                            cursor: pointer;
                            // colored underline
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: -.1em;
                                left: -.3em;
                                width: 110%;
                                height: .5em;
                                opacity: .4;
                                border-radius: 20px;
                                z-index: -1;
                                transition: .2s;
                            }
                            &.transform-button {
                                &::after {background-color: $yellow;}
                            }
                            &.card-button {
                                &::after {background-color: $soft-red}
                            }
                            &:hover {
                                &::after {opacity: 1;}
                                
                            }
                            // end of colored underline

                        }
                    }
                }
                .about-img {
                    overflow: hidden;
                    flex-basis: 50%;
                    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    // border: 1px solid blue;
                    @media (max-width: 767px){
                        .transform-desk {
                            display: none;
                        }
                        .stand-desk {
                            display: none;
                        }
                        
                    }
                    @media (min-width: 768px){
                        .transform-mobile {
                            display: none;
                        }
                        .stand-mobile {
                            display: none;
                        }
                    }
                }
            }
        }
        // graphic design and photography section
        .about-gallery {
            .work {
                flex-basis: 50%;
                height: 50vh;
                position: relative;
                &.work1 {
                    color: $dark-desaturated-cyan-graphic-design-text;
                }
                &.work2 {
                    color: $dark-blue-photography-text;
                }
                .work-info {
                    position: absolute;
                    bottom: 1em;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    padding: .1em .5em;
                    text-align: center;
                    width: 50%;
                    
                
                h2 {
                    text-transform: capitalize;
                    font-family: $font-fraunces;
                    font-size: 1.5em;
                    margin-bottom: 1em;
                    font-weight: 900;
                }
                h3 {
                    font-family: $font-barlow;
                    font-size: 1em;
                    font-weight: 900;
                }
            }
            }
            @media (max-width: 768px){
                display: block;
                .work {
                    height: 80vh;
                    background-color: green;
                    .work-info {
                        width: 100%;
                        padding: 1em;
                        margin: 1em auto;
                        p {
                            font-size: .9em;
                        }
                    }
                    &.work1{
                        background-image: url(../images/mobile/image-graphic-design.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: bottom;
                    }
                    &.work2{
                        background-image: url(../images/mobile/image-photography.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            @media (min-width: 768px){
                height: 100vh;
                display: flex;
                .work {
                    height: 100%;
                    position: relative;
                    .work-info {
                        width: 55%;
                        position: absolute;
                        bottom: 20%;
                        left: 50%;
                        transform: translateX(-50%);
                        text-align: center;
                        h2 {
                            font-size: 2em;
                            margin: 1em auto;
                            
                        }
                        p {
                            font-family: $font-barlow;
                        }
                    }
                    &.work1{
                        background-image: url(../images/desktop/image-graphic-design.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        // color: $dark-desaturated-cyan-graphic-design-text;
                        
                    }
                    &.work2{
                        background-image: url(../images/desktop/image-photography.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        // color: $dark-blue-photography-text;
                        
                    }
                }
            }

            
        }
        // end of graphic design and photography section
    }
// end of about section
// testimonials section
    #projects {
        background-color: #f4f4f4;
        padding: 2em 1em;
        height: 100%;
        header {
            h1 {
                text-align: center;
                color: $dark-grayish-blue;
                letter-spacing: .25em;
                font-weight: 900;
                text-transform: uppercase;
                padding-top: 2em;
                margin: 1em auto .5em;
            }
        }
        .client-grid {
            display: grid;
            margin: 5em auto;
            grid-template-columns: 1fr 1fr 1fr;
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            .client {
                text-align: center;
                font-family: $font-barlow;

                figure {
                    height: 7em;
                    width: 7em;
                    border-radius: 50%;
                    border: none;
                    overflow: hidden;
                    margin: 2em auto;

                    img {
                        width: 100%;
                    }
                }
                .review {
                    width: 90%;
                    font-size: 1em;
                    padding: 2em;
                    color: $very-dark-grayish-blue;
                    font-weight: 599;
                    @media(max-width: 768px){
                        padding: .3em;
                        width: 100%;
                    }
                }
                .name {
                    font-family: $font-fraunces;
                    padding: 1em;
                    margin: 1em auto;
                    h2 {
                        margin: .5em auto;
                        font-weight: 900;
                    }
                    p {
                        font-family: $font-barlow;
                        color: $grayish-blue;
                        font-weight: 900;
                    }
                }

            }
        }
    }
// end of testimonials
// contact / footer
    #contact {
        width: 100%;
        padding-bottom: .5em;
        text-align: center;
        background-color: $dark-moderate-cyan-footer;
        color: $dark-desaturated-cyan-graphic-design-text;
        // desktop gallery
        @media (min-width: 768px) {
            .mobile-gallery { display: none}
            .desktop-gallery {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                figure {
                    img {
                        width: 100%;
                    }
                }
            }
        }
        // end of desktop gallery
        // mobile gallery 
        @media (max-width: 768px) {
            .desktop-gallery {display: none}
            .mobile-gallery { 
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                figure {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        // end of mobile gallery 
        // social links
        .footer-logo {
            margin: 2em auto;
            // logo box shadow
            a {
                display: inline-block;
                // border: 1px solid red;

                img {
                    display: none;
                    border: none;
                    outline:none;
                    padding: .5em 1em;
                    border-radius: 3px;
                    // box-shadow: inset 3px 3px 4px #dddddd46,
                    //             inset -3px -3px 4px #0000003a;
                }
            }
            // end of logo box shadow
        }
        // footer navigation links
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: .5em auto;
            @media (min-width: 1000px){
                width: 25%;
                justify-content: space-between;

            }

            li {
                padding: .3em 1em ;
                list-style: none;
                font-weight: 600;
                cursor: pointer;
                transition: .3s;
                border-radius: 3px;
                box-shadow: inset 3px 3px 4px rgba(221, 221, 221, 0.274),
                                inset -3px -3px 4px rgba(0, 0, 0, 0.226);
                
                a {
                    text-transform: capitalize;
                    color: $dark-desaturated-cyan-graphic-design-text;
                    text-decoration: none;
                    
                }
                // link color on hover
                &:hover {
                    transform: scale(1.1);
                    a {
                        color: $white;
                    } 
                }
                // end of link color on hover

            }
        }
        // end of footer navigation links

        // social media links
        .links {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2em auto;
            padding: 1em;
            cursor: pointer;
            width: 70%;
            @media (min-width: 768px) {
                width: 20%;
            }
                i {
                    padding: .5em;
                    transition: .3s;
                    margin: 0 auto;
                    border: none;
                    outline: none;
                    color: $dark-desaturated-cyan-graphic-design-text;
                    position: relative;
                    // social media cons box shadow
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        opacity: .4;
                        box-shadow: inset 2px 2px 4px #fffa,
                                    inset -2px -2px 4px #000a;
                    }
                    // social media cons box shadow

                    &:hover {
                            color: $white;
                            transform: scale(1.2);
                            &::after { opacity: 1;}
                    }
                }
            }
        
        // end of social media links

    }
// end of contact / footer
}


